@import url('https://fonts.googleapis.com/css2?family=K2D:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

            h1 {
                text-align: center;
                margin: auto;
                font-size: 40px;
                width: 300px;
                
            }
    
            h2 {
                text-align: center;
                margin: auto;
            }
    
            h3 {
                text-align: center;
                margin: auto;
                font-size: 40px;
                width: 300px;
            }
    
            td {
                font-size: 30px;
                width: 300px;
            }
            th {
                text-align: center;
                margin: auto;
                font-size: 40px;
                width: 300px;
            }
    
body {
  background-image: url("Light-Purple-Aesthetic-Background-with-Delicate-Flowers-for-PPT-PowerPoint-Google-Slides-and-Wallpapers-By-SlidesCorner.com_.jpg");
}

.container {
    width: 60%;
    margin: auto;
    background: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 50px;
}
    body h1 {
        color: palevioletred;
        font-family: "K2D", sans-serif;
        font-weight: 300px;
        font-style: normal ;
    }

    body h2 {
        color: palevioletred;
        font-family: "K2D", sans-serif;
        font-weight: 300px;
        font-style: normal;
    }
    
    body h3 {
        color: rgb(92, 37, 75);
        background: white;
        font-family: "K2D", sans-serif;
        font-weight: 300px;
        font-style: normal;

    
    }
    body tr {
        color: rgb(255, 200, 234);
        font-family: "K2D", cursive;
        font-weight: 500px;
        font-style: normal;

    }
    